.text-justify {text-align: justify;}

.text-indent {text-indent: 32px;}

.page02-banner {width: 100%;}

.page02-service h3 {
  margin: 30px 0;
  font-weight: normal;
}

.page02-service-content {width: 100%;}

.page02-service-content-group {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page02-service-content-group:last-child {margin-bottom: 0;}

.page02-service-content-group div {
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page02-service-content-group div i {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.page02-service-content-group div span {
  font-size: 14px;
  line-height: 24px;
}

.page02-service-content-group:nth-child(1) div:nth-child(1) i {
  background: url("./images/icon-xianshang.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(1) div:nth-child(2) i {
  background: url("./images/icon-siren.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(1) div:nth-child(3) i {
  background: url("./images/icon-kexue.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(1) i {
  background: url("./images/icon-tigao.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(2) i {
  background: url("./images/icon-moni.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(3) i {
  background: url("./images/icon-aiqing.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(1) i {
  background: url("./images/icon-shidang.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(2) i {
  background: url("./images/icon-hunyin.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(3) i {
  background: url("./images/icon-wanai.png") no-repeat center center;
  background-size: 100%;
}
