.page01-banner {width: 100%;}

.page01-para {
  padding: 0 15px;
  text-align: justify;
  text-indent: 32px;
  color: #313131;
  line-height: 26px;
  margin: 32px 0;
}

.page01-box {
  background: #d54c53;
  border-radius: 5px;
  margin: 0 15px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify: center;
  align-items: center;
}

.page01-box-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.page01-box-images img {
  width: 147px;
}

.page01-box-content {
  padding-bottom: 30px;
}

.page01-box-content h3,
.page01-box-content p {
  color: #fff;
}

.page01-box-content p {
 text-indent: 32px;
 margin: 0;
 line-height: 26px;
 text-align: justify;
}

.page01-box-content-infos {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page01-box-content-infos div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.page01-box-content-infos div:first-child {
  margin-right: 30px;
}

.page01-box-content-infos div span {
  color: #fff;
}

.page01-box-content-infos div span:first-child {
  font-weight: bold;
}

.page01-box-content-infos div span:last-child {
  font-size: 12px;
}

/* Start: 四大保障 */
.page01-guarantee h3 {
  font-weight: normal;
}

.page01-guarantee-content {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.page01-guarantee-content-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page01-guarantee-content-group:first-child {
  margin-bottom: 20px;
}

.page01-guarantee-content-group-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page01-guarantee-content-group-item i {
  diaplay: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.page01-guarantee-content-group:first-child .page01-guarantee-content-group-item:first-child i {
  background: url("./images/icon-wuwei.png") no-repeat center center;
  background-size: 100%;
}

.page01-guarantee-content-group:first-child .page01-guarantee-content-group-item:last-child i {
  background: url("./images/icon-zhuanye.png") no-repeat center center;
  background-size: 100%;
}

.page01-guarantee-content-group:last-child .page01-guarantee-content-group-item:first-child i {
  background: url("./images/icon-siren.png") no-repeat center center;
  background-size: 100%;
}

.page01-guarantee-content-group:last-child .page01-guarantee-content-group-item:last-child i {
  background: url("./images/icon-yonghu.png") no-repeat center center;
  background-size: 100%;
}

.page01-guarantee-content-group-item p {
  margin: 0;
}

.page01-guarantee-content-group-item p {
  color: #616161;
}
.page01-guarantee-content-group-item p:nth-child(2) {
  color: #313131;
  padding-bottom: 5px;
}
/* End: 四大保障 */
